@import 'variables';
@import 'mixins';
@import 'fonts';

h2 {
  @include header-title;
}

button {
  & + button {
    margin-left: em(5);
  }
}

form {
  input {
    &:not([type='checkbox']):not([type='radio']) {
      width: em(501);
    }

    &[type='checkbox'] {
      margin-left: em(15);
    }
  }
}

.steps {
  padding: em(16) 0 em(23);
}
