@import 'variables';
@import 'mixins';

.card {
  background-color: $white;
  border-radius: em(5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  min-height: em(190);
  padding: em(22) em(26);
  width: 100%;
}
