@import 'variables';
@import 'mixins';

.modal {
  background-color: rgba($color: $black, $alpha: 0.5);
  left: 0;
  height: 100vh;
  padding-top: em(60);
  position: fixed;
  overflow: auto;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__content {
    @include box-shadow;
    @include wrapper;
    background: $white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: em(40) em(40);
    position: relative;
    z-index: 1001;
  }

  &__header {
    display: flex;
    flex-direction: column;
    position: relative;

    h2 {
      padding-left: em(35, 36);
      margin-top: em(30, 36);
    }
  }

  &__close-btn {
    border: none;
    display: flex;
    font-size: em(40);
    height: em(40, 40);
    right: 0;
    padding: 0;
    position: absolute;
    min-width: auto;
    transition: 0.3s;
    width: em(40, 40);

    &:hover {
      background: transparent;
      color: $color-primary-ruby;
    }
  }

  &__body {
    padding: em(20) 0;
  }

  &__footer {
    margin-top: auto;
    padding-left: em(35);
    padding-top: em(20);
  }
}
