@import 'variables';
@import 'mixins';
header {
  align-items: center;
  background-color: $color-primary-santander;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  padding: 0 em(25);

  img {
    height: em(68);
  }

  .header__wrapper {
    @include main-container;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
  }

  @include for-tablet-portrait-up {
    height: em(72);
  }
}
