@import 'variables';
@import 'mixins';
header {
  align-items: center;
  background-image: url('/assets/images/header.png');
  border-bottom: 1px solid $main;
  display: flex;
  height: em(74);
  object-fit: contain;
  padding: 0 em(25);

  img {
    height: em(38);
    width: em(295);
  }

  .header__wrapper {
    @include wrapper;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
  }

  @include for-tablet-portrait-up {
    height: em(112);
  }
}
