<div class="input-group">
  <span
    class="input-group__placeholder"
    [ngClass]="{ 'input-group__placeholder--up': value || focused }"
    *ngIf="placeholder"
    (click)="focusElement()"
  >
    {{ placeholder }}
  </span>
  <input
    #inputRef
    type="text"
    [ngClass]="{ 'input--error': error && !focused }"
    [id]="id"
    [value]="value"
    [name]="name"
    (blur)="onBlur()"
    (focus)="onFocus()"
    (input)="onInput($event.target.value)"
  />
  <span class="input-group__info" [ngClass]="{ 'input-group__info--error': error && !focused }">
    {{ error && !focused ? error : info }}
  </span>
  <button
    class="input-group__reset icon-SYS022_EXP"
    *ngIf="value && showClearBtn"
    (click)="resetValue()"
  ></button>
</div>
