* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
html,
body {
  background: $color-background-blue;
  font-family: 'Open Sans';
  height: 100%;
}
.wrapper {
  @include wrapper;
}
