@import 'variables';
@import 'mixins';
@import 'fonts';

button,
.btn {
  background-color: $white;
  border: 1px solid $color-primary-santander;
  border-radius: 4px;
  font-family: $santander-hl-regular;
  color: $color-primary-santander;
  cursor: pointer;
  font-size: em(16);
  height: em(49, 16);
  transition: 0.3s;
  width: em(160, 16);

  &:hover {
    &:not(:disabled) {
    }
  }

  &:disabled {
    cursor: default;
    background-color: $color-secondary-accessiblesky;
    border-color: $color-secondary-accessiblesky;
  }

  &:focus {
    outline: none;
  }

  @include for-tablet-portrait-up {
    width: em(200, 24);
  }
}
