@import 'variables';
@import 'mixins';

button,
.btn {
  background-color: $white;
  border: 1px solid $color-primary-santander;
  border-radius: 100px;
  font-family: $santander-hl-regular;
  color: $color-primary-santander;
  cursor: pointer;
  font-size: em(16);
  height: em(48, 16);
  min-width: em(88, 16);
  padding: 0 em(27);
  transition: 0.3s;

  &:hover {
    &:not(:disabled) {
      color: $white;
      background-color: $color-primary-santander;
    }
  }

  &:disabled {
    cursor: default;
    color: $color-primary-mediumgrey;
    border-color: $color-primary-lightgrey;
  }

  &:focus {
    outline: none;
  }

  &--primary {
    &:not(:disabled) {
      color: $white;
      background-color: $color-primary-santander;

      &:hover {
        color: $white;
        background-color: $color-primary-ruby;
        border-color: $color-primary-ruby;
      }
    }
  }

  &--large {
    width: em(200);
  }
}
