@import 'variables';
$medium-grey: #676767;
input,
textarea,
select {
  &:not([type='checkbox']):not([type='radio']) {
    border: 1px solid rgba($color: $color-primary-darksky, $alpha: 0.5);
    border-bottom: 1px solid $color-secondary-accessiblesky;
    border-radius: 3px 3px 0 0;
    color: $color-primary-grey;
    font-family: $santander-hl-regular;
    font-size: em($browser-context);
    height: em(48);
    margin-bottom: em(22);
    padding: em(18) em(40) em(6) em(16);
    width: em(321);

    &::-ms-clear {
      display: none;
    }

    &.error {
      border-color: $color-primary-santander;
      color: $color-primary-santander;
    }

    &::placeholder {
      color: rgba($black, 0.3);
    }

    &:focus {
      border-bottom-width: 2px;
      padding-bottom: em(5);
      outline: none;
      outline-offset: 0;
    }
  }
}

label {
  color: $color-primary-grey;
  display: block;
  font-family: $santander-tx-regular;
  font-size: em(24);
  margin-bottom: em(24, 24);
}

.image-sample {
  align-items: center;
  cursor: pointer;
  display: inline-flex;

  &:not(:first-of-type) {
    margin-left: em(19);
  }
}

.form {
  &__container {
    background-color: $color-background-blue;
    padding: em(32) em(35);
  }

  &__group {
    margin-bottom: em(30);
  }
}

.input-group {
  display: inline-flex;
  position: relative;

  input {
    color: $color-primary-grey;
    margin-bottom: em(22);
  }

  &__info {
    bottom: 0;
    color: $color-primary-grey;
    font-size: em(12);
    height: em(17, 12);
    left: em(16, 12);
    position: absolute;

    &--error {
      color: $color-primary-boston;
    }
  }

  &__placeholder {
    color: $medium-grey;
    left: em(18);
    line-height: em(24);
    position: absolute;
    top: em(12);
    transition: all 0.3s ease;

    &--up {
      font-size: em(12);
      left: em(18, 12);
      position: absolute;
      transform: translateY(#{em(-5, 12)});
    }
  }

  &__reset {
    background: transparent;
    border: none;
    color: $white;
    position: absolute;
    right: em(10);
    width: auto;

    &::before {
      border-radius: 100%;
      background: $color-primary-lightgrey;
      padding: 3px;
      opacity: 0.6;
      transition: 0.5;
    }

    &:hover {
      background-color: transparent;
      &::before {
        opacity: 1;
      }
    }
  }
}
