label {
  color: $color-primary-grey;
  display: block;
  font-family: $santander-tx-regular;
  font-size: em(24);
  margin-bottom: em(24, 24);
}

.image-sample {
  align-items: center;
  cursor: pointer;
  display: inline-flex;

  &:not(:first-of-type) {
    margin-left: em(19);
  }
}

.form {
  &__container {
    background-color: $color-background-blue;
    padding: em(32) em(35);
  }

  &__group {
    margin-bottom: em(30);
  }
}
