// Breakpoints
$phone: '599px';
$tablet: '600px';
$body-width: 1280;
$tablet-landscape: '900px';
$desktop: '1200px';
$desktop-big: '1800px';

// Fonts
$browser-context: 16;

// Colors
$black: #000;
$white: #fff;
/** SANTANDER STYLE GUIDE **/
$color-primary-santander: #ec0000;
$color-primary-boston: #cc0000;
$color-primary-ruby: #990000;
$color-primary-sky: #deedf2;
$color-primary-mediumsky: #cedee7;
$color-primary-darksky: #9bc3d3;
$color-secondary-accessiblesky: #257fa4;
$color-background-blue: #f6fbfc;
$color-primary-grey: #444444;
$color-primary-mediumgrey: #767676;
$color-primary-lightgrey: #cccccc;
// SECONDARY COLORS
$color-secondary-yellow: #ffcc33;
$color-secondary-limegreen: #63ba68;
$color-secondary-turquoise: #1bb3bc;
$color-secondary-blue: #3366ff;
$color-secondary-purple: #9e3667;

// FONTS
$open-sans: 'Open Sans';
$open-sans-light: 'Open Sans Light';
$open-sans-bold: 'Open Sans Bold';
$santander-tx-light: 'SantanderTextW05-Light';
$santander-tx-regular: 'SantanderTextW05-Regular';
$santander-tx-bold: 'SantanderTextW05-Bold';
$santander-hl-regular: 'SantanderHeadlineW05-Rg';
$santander-hl-bold: 'SantanderHeadlineW05-Bold';
