@import 'variables';
@import 'mixins';
@import 'fonts';

:host {
  margin-top: auto;
}

footer {
  padding: em(30) 0;
  p {
    color: #595959;
    font-family: $open-sans;
    font-size: em(12);
    text-align: center;
  }
}
