@import 'variables';
@import 'mixins';

.filter-technology {
  margin: em(16) 0;

  span {
    text-transform: uppercase;
    font-size: em(15);
    font-weight: bold;
    margin-right: em(16);
  }
  button {
    text-transform: uppercase;
    font-size: em(15);
    border-radius: 4px;
    border-color: $color-primary-mediumsky;
    margin-right: em(8);
    background: $color-background-blue;
    color: $color-primary-grey;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background: white;
      color: $color-primary-santander;
      font-weight: bold;
    }
    &:hover {
      background: white;
      border-color: $color-primary-santander;
    }
  }
}
