/* You can add global styles to this file, and also import other style files */
@import './styles/reset';
@import './styles/fonts';
@import './styles/variables';
@import './styles/mixins';
@import './styles/base';
@import './styles/typography';
@import './styles/forms';
@import './styles/buttons';
@import './styles/icons';

section.header__wrapper {
  background: url('/assets/images/capture1.png') -63px 1px no-repeat;
}
.main {
  &:after {
    content: '';
    background: url('/assets/images/capture2.png') 0 0 no-repeat;
    display: block;
    width: 1128px;
    height: 2322px;
    margin-top: 16px;
  }
}
