<section class="main">
  <section class="main__header">
    <div class="btns">
      <button class="btn btn--primary btn--large" id="create-component">
        Create Component
      </button>
      <button class="btn btn--primary btn--large" (click)="showCreateModal()" id="create-app">
        Create Application
      </button>
    </div>
    <h1>My Projects</h1>
  </section>
  <section
    class="main__container-msg"
    [ngClass]="{ 'main__container-msg--hidden': showLoader }"
    *ngIf="!showLoader"
  >
    <div>
      <h3>Empty projects</h3>
      <p>You don´t have any component or application in your projects.</p>
    </div>
  </section>
  <section
    class="main__container"
    [ngClass]="{ 'main__container--visible': showLoader }"
    *ngIf="showLoader"
  >
    <app-card><app-loader></app-loader></app-card>
  </section>
  <section class="main__catalogue">
    <span class="main__catalogue__title">
      <h1>Components Catalogue</h1>
      <span class="main__catalogue__title__counter">
        <span class="main__catalogue__title__counter__label">Total number:</span>
        <span class="main__catalogue__title__counter__value">59</span>
      </span>
    </span>

    <section class="main__catalogue__filters">
      <app-filter-order></app-filter-order>
      <app-filter-technology></app-filter-technology>
    </section>
  </section>
  <app-create-app-modal
    [dependencies]="dependencies$ | async"
    [technologies]="technologies$ | async"
    [navigationTypes]="navigationTypes$ | async"
    (submitClick)="submitCreateAppForm($event)"
  ></app-create-app-modal>
</section>
