<section class="main">
  <section class="main__header">
    <div class="btns">
      <button class="btn btn--red btn--large" disabled>
        Create Component
      </button>
      <button class="btn btn--red btn--large" (click)="showCreateModal()">
        Create Application
      </button>
    </div>
    <h1>My Projects</h1>
  </section>
  <section class="main__container" [ngClass]="{ 'main__container--visible': showLoader }">
    <app-card><app-loader *ngIf="showLoader"></app-loader></app-card>
  </section>
  <app-create-app-modal
    [dependencies]="dependencies$ | async"
    [technologies]="technologies$ | async"
    [navigationTypes]="navigationTypes$ | async"
    (submitClick)="submitCreateAppForm($event)"
  ></app-create-app-modal>
</section>
