@import 'variables';
@import 'mixins';

.main {
  @include main-container;

  &__container {
    @include container-section;
    opacity: 0;
    transition: opacity 0.3s;

    &--visible {
      opacity: 1;
    }
  }

  &__header {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: em(40) 0 em(30);
  }
}
